<div class="container">
  <form class="container__login-form" [formGroup]="createAccountForm">
    <div class="container__login-form__login-top-image">
      <img
        class="container__login-form__login-top-image__login-image"
        src="../../../../assets/images/profile-user.png"
      />
      <div class="container__login-form__login-title">Create Account</div>
    </div>

    <div class="container__login-form__credentials">
      <div class="container__login-form__credentials__email">
        <div class="container__login-form__credentials__email__label">
          <mat-icon
            svgIcon="email"
            class="container__login-form__credentials__email__label__icon"
          ></mat-icon>
          <label>Email Address</label>
        </div>
        <mat-form-field appearance="outline">
          <input
            (input)="checkPassword()"
            matInput
            type="text"
            formControlName="email"
          />
          <mat-error
            *ngIf="createAccountForm.get('email')?.hasError('required')"
            >Email is required.
          </mat-error>
          <mat-error *ngIf="createAccountForm.get('email')?.hasError('email')"
            >Invadivd email address.</mat-error
          >
        </mat-form-field>
      </div>
      <div class="container__login-form__credentials__password">
        <div class="container__login-form__credentials__password__label">
          <mat-icon svgIcon="user"></mat-icon>
          <label>Username</label>
        </div>
        <mat-form-field appearance="outline">
          <input
            (input)="checkPassword()"
            matInput
            type="password"
            formControlName="username"
          />
          <mat-error
            *ngIf="createAccountForm.get('username')?.hasError('required')"
            >Username is required.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="container__login-form__credentials__password">
        <div class="container__login-form__credentials__password__label">
          <mat-icon svgIcon="password"></mat-icon>
          <label>Password</label>
        </div>
        <mat-form-field appearance="outline">
          <input
            (input)="checkPassword()"
            matInput
            type="password"
            formControlName="password"
          />
        </mat-form-field>
      </div>
      <div class="container__login-form__password-requires">
        <p>Passoword must contain:</p>
        <ul>
          <div>
            <span>
              <mat-icon svgIcon="check" *ngIf="!isMinLengthValid"></mat-icon>
              <mat-icon
                svgIcon="check-green"
                *ngIf="isMinLengthValid"
              ></mat-icon>
              At least 8 characters</span
            >
          </div>
          <div>
            <span>
              <mat-icon svgIcon="check" *ngIf="!isLowerCaseValid"></mat-icon>
              <mat-icon
                svgIcon="check-green"
                *ngIf="isLowerCaseValid"
              ></mat-icon>
              At least one small letter</span
            >
          </div>
          <div>
            <span>
              <mat-icon svgIcon="check" *ngIf="!isUpperCaseValid"></mat-icon>
              <mat-icon
                svgIcon="check-green"
                *ngIf="isUpperCaseValid"
              ></mat-icon>
              At least one capital letter
            </span>
          </div>
          <div>
            <span>
              <mat-icon svgIcon="check" *ngIf="!isSpecialCharValid"></mat-icon>
              <mat-icon
                svgIcon="check-green"
                *ngIf="isSpecialCharValid"
              ></mat-icon>
              At least one number or symbol</span
            >
          </div>
        </ul>
      </div>
    </div>

    <div class="container__login-form__div-button">
      <button
        class="container__login-form__div-button__button"
        (cdivck)="register()"
      >
        CREATE ACCOUNT
      </button>
      <div class="container__login-form__div-button__paragraph">
        <p class="container__login-form__div-button__paragraph__p">
          Already have an account ?
        </p>
        <a
          class="container__login-form__div-button__paragraph__a"
          [routerLink]="'/login'"
          >Login.</a
        >
      </div>
    </div>
    <div class="container__login-form__div-logo">
      <img
        class="container__login-form__div-logo__logo-image"
        src="../../../../assets/images/logo-TMParking.png"
      />
    </div>
  </form>
</div>
