.layout {
  width: 100%;
  max-height: calc(100vh - 64px);
  display: flex;
  flex-direction: row;

  &__searchs {
    width: 17%;
    padding: 1rem;

    // background: linear-gradient(
    //     109.6deg,
    //     rgb(54 0 105) 11.2%,
    //     rgb(255, 255, 255)
    //   )
    //   83.1%;
  }

  &__admin {
    width: 82%;
    height: 89.7%;

    &__buttons {
      width: 100%;
      height: 8%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      padding: 0.7rem;

      &__mat-toggle-buttons {
        border-radius: 20px;
        height: 2.5rem;
        align-items: center;
      }

      &__add-new-park-space {
        width: 15rem;
        height: 2.5rem;
        border-radius: 20px;
        background-color: rgb(66, 3, 112);
        color: white;
        margin-left: 4rem;
      }

      &__greeting {
        font-size: 1.5rem;
        font-weight: 700;
        width: 27rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 0.5rem;
      }

      &__message {
        font-weight: 500;
        font-size: 1.4rem;
        color: #099709;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 25rem;
      }
    }

    &__display {
      overflow: auto;
      margin-left: 0.5%;
      max-height: 58.4rem;

      &__all-parking-spaces {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 40px;
        max-height: 58.4rem;
        margin-top: 0.5rem;

        &__parkingCard {
          width: 285px;
          height: 270px;
          border-radius: 10px;
          border: 2px solid black;
        }
      }

      &__users-display {
        max-height: 58.4rem;
      }
    }
  }
}
