<div class="layout">
  <div class="layout__searchs">
    <div
      *ngIf="
        toggleButtonValue === 'allParkingSpaces' ||
        toggleButtonValue === 'myParkingSpaces'
      "
    >
      <app-parking-space-search></app-parking-space-search>
    </div>
    <div *ngIf="toggleButtonValue === 'users'">
      <app-user-search></app-user-search>
    </div>
    <div *ngIf="toggleButtonValue === 'allVehicles'">
      <app-vehicle-search></app-vehicle-search>
    </div>
  </div>
  <div class="layout__admin">
    <div class="layout__admin__buttons">
      <div>
        <mat-button-toggle-group
          [disabled]="!isLogin"
          [(ngModel)]="toggleButtonValue"
          class="layout__admin__buttons__mat-toggle-buttons"
        >
          <mat-button-toggle value="allParkingSpaces"
            >🚙 All Parking Spaces</mat-button-toggle
          >
          <mat-button-toggle value="users" *ngIf="role === 'Administrator'"
            >🙍🏻‍♂️ Users</mat-button-toggle
          >
          <mat-button-toggle value="myCars" *ngIf="role === 'User' || !isLogin"
            >❤️ My Vehicles</mat-button-toggle
          >
          <mat-button-toggle value="myParkingSpaces"
            >❤️ My Parking Spaces</mat-button-toggle
          >
          <mat-button-toggle
            value="allVehicles"
            *ngIf="role === 'Administrator'"
            >🚙All Vehicles</mat-button-toggle
          >
        </mat-button-toggle-group>
        <button
          class="layout__admin__buttons__add-new-park-space"
          mat-button
          (click)="openAddNewParkingDialogFunction()"
        >
          ➕ ADD NEW PARKING SPACE
        </button>

        <button
          class="layout__admin__buttons__add-new-park-space"
          mat-button
          (click)="openAddNewVehicleDialogFunction()"
        >
          ➕ ADD NEW VEHICLE
        </button>

        <button
          *ngIf="role === 'Administrator'"
          class="layout__admin__buttons__add-new-park-space"
          mat-button
          (click)="openAddNewUserDialog()"
        >
          ➕ ADD NEW USER
        </button>
      </div>
    </div>

    <div class="layout__admin__display">
      <div
        *ngIf="
          toggleButtonValue === 'allParkingSpaces' ||
          toggleButtonValue === 'myParkingSpaces'
        "
      >
        <app-parking-spaces></app-parking-spaces>
      </div>
      <div
        *ngIf="toggleButtonValue === 'users'"
        class="layout__admin__display__users-display"
      >
        <app-users-admin></app-users-admin>
      </div>
      <div *ngIf="toggleButtonValue === 'allVehicles'">
        <app-vehicles></app-vehicles>
      </div>
    </div>
  </div>
</div>
