@mixin dimensions($gap, $direction) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}

@mixin button-edit {
  font-weight: 500;
  width: auto;
  background-color: rgb(54 0 105);
  color: white;
  border: none;
  height: 2.5rem;
  border-radius: 6px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.userCard {
  font-size: 1rem;
  width: 86%;
  height: 13rem;
  box-shadow: 0px 0px 50px 0px rgba(101, 101, 101, 0.9);
  border-radius: 10px;
  margin-left: 8%;
  margin-top: 3%;
  display: flex;
  padding: 1rem;

  button {
    display: flex;

    span {
      margin-top: 2px;
      margin-left: 1rem;
    }
  }

  &__div7 {
    justify-content: center;
    @include dimensions(1rem, column);

    &__edit-button {
      display: flex;
      align-items: center;
      justify-content: center;
      @include button-edit();
    }
  }

  &__img {
    width: 100%;
    height: 75%;
    margin-top: 17%;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 0px rgb(55 0 103 / 90%);
  }

  &__div2 {
    padding-left: 1rem;
    @include dimensions(10%, column);

    input {
      border-radius: 4px;
      width: 14rem;
      height: 2.2rem;
      margin-left: 0.5em;
    }

    &__name {
      display: flex;
    }

    &__address {
      align-items: center;
      @include dimensions(3rem, row);
    }

    &__license {
      @include dimensions(10%, row);

      mat-icon {
        cursor: pointer;
      }
    }

    &__info {
      padding-left: 1rem;

      label {
        font-weight: 600;
      }

      @include dimensions(10%, column);
      margin-top: 1rem;
    }
  }

  &__div3 {
    @include dimensions(8%, column);

    input {
      border-radius: 4px;
      width: 8rem;
      height: 2.2rem;
      margin-left: 0.5em;
    }

    &__role {
      align-items: center;
      @include dimensions(3rem, row);
    }

    &__zip {
      align-items: center;
      @include dimensions(1rem, row);
    }

    &__state {
      align-items: center;
      @include dimensions(2.7rem, row);
    }

    &__active {
      @include dimensions(2.9rem, row);
    }

    select {
      border-radius: 4px;
      height: 2.2rem;
    }

    &__info {
      label {
        font-weight: 600;
      }

      @include dimensions(10%, column);
      margin-top: 1rem;
    }
  }

  &__div4 {
    @include dimensions(10%, column);

    input {
      border-radius: 4px;
      width: 12rem;
      height: 2rem;
      margin-left: 0.5em;
    }

    select {
      border-radius: 4px;
      width: 12rem;
      height: 2rem;
      margin-left: 0.5em;
    }

    &__numbersRegistered {
      @include dimensions(0%, row);
    }

    &__phone {
      @include dimensions(37.3%, row);
    }

    &__birth {
      @include dimensions(27.7%, row);
    }

    &__pnc {
      @include dimensions(8.3%, row);
    }

    &__info {
      label {
        font-weight: 600;
      }

      select {
        border: none;
      }

      &__numbersRegistered {
        @include dimensions(4%, row);

        div {
          display: flex;
          flex-direction: column;
          height: 4vh;
          background-color: red;
        }
      }

      @include dimensions(10%, column);
      margin-top: 1rem;
    }
  }
}
