<div class="search-vehicle">
  <div class="search-vehicle__fields">
    <div class="search-vehicle__fields__model">
      <label>Model</label> <input type="text" />
    </div>
    <div class="search-vehicle__fields__make">
      <label>Make</label> <input type="text" />
    </div>
    <div class="search-vehicle__fields__color">
      <label>Color</label> <input type="text" />
    </div>

    <div class="search-vehicle__fields__year">
      <label>Year</label> <input type="text" />
    </div>
    <div class="search-vehicle__fields__owner">
      <label>Owner</label> <input type="text" />
    </div>
    <div class="search-vehicle__fields__vin">
      <label>Vehicle Identification Number</label> <input type="text" />
    </div>
  </div>
  <div class="search-vehicle__tmParkingLogo">
    <img src="../../../../../assets/images/logo-TMParking.png" />
  </div>
</div>
