<div class="close">
  <mat-icon svgIcon="icon-close" (click)="close()"></mat-icon>
</div>
<mat-divider></mat-divider>
<div class="login-required">
  <div class="login-required__div">
    <img
      src="../../../../assets/images/need-login.png"
      class="login-required__img"
    />
    <div class="login-required__div__text">
      Please log in first to be able to use this feature.
    </div>
  </div>

  <div>
    <div class="login-required__button">
      <button class="btn btn-primary" (click)="close()">Done</button>
    </div>
  </div>
</div>
