<div class="my-profile">
  <div class="my-profile__title">
    <div><h2>My Account</h2></div>
    <div>
      <mat-icon
        svgIcon="icon-close"
        (click)="closeSidenavMyProfile()"
      ></mat-icon>
    </div>
  </div>
  <mat-divider></mat-divider>
  <form [formGroup]="imageProfileFormGroup" class="my-profile__image-upload">
    <div
      [ngClass]="
        !imageProfile
          ? 'my-profile__image-upload__image-default'
          : 'my-profile__image-upload__image-profile'
      "
    >
      <img
        *ngIf="!imageProfile"
        src="../../../../assets/images/my-profile-image.jpg"
      />
      <img *ngIf="imageProfile" [src]="imageProfile" />
    </div>
  </form>
  <div class="stepper">
    <mat-vertical-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="nameFormGroup">
        <form [formGroup]="nameFormGroup">
          <ng-template matStepLabel>Name <span>*</span></ng-template>
          <mat-form-field appearance="outline">
            <input
              matInput
              placeholder="First name"
              formControlName="firstname"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <input
              matInput
              placeholder="Last name"
              formControlName="lastname"
              required
            />
          </mat-form-field>
          <div>
            <button mat-button matStepperNext class="button-next">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="usernameFormGroup">
        <form [formGroup]="usernameFormGroup">
          <ng-template matStepLabel>Username</ng-template>
          <mat-form-field appearance="outline">
            <input
              matInput
              placeholder="Username"
              formControlName="username"
              required
            />
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious class="button-back">
              Back
            </button>
            <button mat-button matStepperNext class="button-next">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="addressFormGroup">
        <form [formGroup]="addressFormGroup">
          <ng-template matStepLabel>Address <span>*</span></ng-template>
          <mat-form-field appearance="outline">
            <input
              matInput
              placeholder="Address"
              formControlName="address"
              required
            />
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious class="button-back">
              Back
            </button>
            <button mat-button matStepperNext class="button-next">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="emailFormGroup">
        <form [formGroup]="emailFormGroup">
          <ng-template matStepLabel>E-mail Address <span>*</span></ng-template>
          <mat-form-field appearance="outline">
            <input
              matInput
              placeholder="E-mail Address"
              formControlName="email"
              required
            />
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious class="button-back">
              Back
            </button>
            <button mat-button matStepperNext class="button-next">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="pncFormGroup">
        <form [formGroup]="pncFormGroup">
          <ng-template matStepLabel
            >Personal Numerical Code <span>*</span></ng-template
          >
          <mat-form-field appearance="outline">
            <input
              matInput
              placeholder="Personal Numerical Code"
              formControlName="pnc"
              required
            />
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious class="button-back">
              Back
            </button>
            <button mat-button matStepperNext class="button-next">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="phoneFormGroup">
        <form [formGroup]="phoneFormGroup">
          <ng-template matStepLabel>Phone <span>*</span></ng-template>
          <mat-form-field appearance="outline">
            <input
              matInput
              placeholder="Phone"
              formControlName="phone"
              required
            />
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious class="button-back">
              Back
            </button>
            <button mat-button matStepperNext class="button-next">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="dateBirthFormGroup">
        <form [formGroup]="dateBirthFormGroup">
          <ng-template matStepLabel>Date of Birth</ng-template>
          <mat-form-field appearance="outline">
            <input
              matInput
              placeholder="Date of Birth"
              formControlName="dateBirth"
              required
            />
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious class="button-back">
              Back
            </button>
            <button mat-button matStepperNext class="button-next">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="stateZipCode">
        <form [formGroup]="stateZipCode">
          <ng-template matStepLabel
            >State & Zip Code <span>*</span></ng-template
          >
          <mat-form-field appearance="outline">
            <input
              matInput
              placeholder="State"
              formControlName="state"
              required
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <input
              matInput
              placeholder="Zip Code"
              formControlName="zip"
              required
            />
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious class="button-back">
              Back
            </button>
            <button mat-button matStepperNext class="button-next">Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="imageProfileFormGroup">
        <form [formGroup]="imageProfileFormGroup">
          <ng-template matStepLabel>Upload Image Profile</ng-template>
          <div class="upload-file">
            <input
              #profileImageInput
              (change)="onFileSelectedImageProfile($event)"
              type="file"
              formControlName="imageProfile"
              placeholder="Upload a significant image for your profile"
            />
            <div
              (click)="profileImageInput.click()"
              class="upload-file__placeholder"
            >
              <p *ngIf="!imageProfileFileName">
                Upload image for parking spaces's profile.
              </p>
              <p *ngIf="imageProfileFileName">{{ imageProfileFileName }}</p>
              <mat-icon svgIcon="plus-solid"></mat-icon>
            </div>

            <mat-divider></mat-divider>
            <mat-hint>File format: image(.img, .jpg, .jpeg)</mat-hint>
          </div>
          <div class="stepper__file-upload-button">
            <button mat-button matStepperPrevious class="button-back">
              Back
            </button>
            <button mat-button matStepperNext class="button-next">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="changePasswordFormGroup">
        <form [formGroup]="changePasswordFormGroup">
          <ng-template matStepLabel>Change Password</ng-template>
          <mat-form-field appearance="outline">
            <input
              type="password"
              matInput
              placeholder="Old Password"
              formControlName="oldPassword"
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <input
              type="password"
              matInput
              placeholder="New Password"
              formControlName="newPassword"
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <input
              type="password"
              matInput
              placeholder="Confirm Password"
              formControlName="repeatPassword"
              required
            />
          </mat-form-field>
          <mat-error
            *ngIf="
              changePasswordFormGroup
                .get('confirmPassword')
                ?.hasError('required') &&
              changePasswordFormGroup.get('confirmPassword')?.touched
            "
            >Confirm password is required.</mat-error
          >
          <mat-error *ngIf="!matchPassword()"
            >Passwords do not match!</mat-error
          >
          <div>
            <button mat-button matStepperPrevious class="button-back">
              Back
            </button>
            <button mat-button matStepperNext class="button-next">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Save Changes</ng-template>
        <div class="buttons">
          <button mat-button matStepperPrevious class="button-back">
            Back
          </button>
          <button mat-button (click)="stepper.reset()" class="button-next">
            Reset
          </button>
          <button
            mat-button
            class="button-saveChanges"
            (click)="openSaveChangesConfirmDialog(userId)"
          >
            Save Changes
          </button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>
</div>
