.my-profile {
  padding: 1%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 29vh;

  &__details {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    margin-top: 3%;

    &__name {
      display: flex;
      flex-direction: row;
      gap: 5%;
      input {
        width: 30%;
      }
    }
    &__address {
      display: flex;
      flex-direction: row;
      gap: 5%;
      input {
        width: 30%;
      }
    }
  }

  &__buttons {
    margin-top: 1%;
    display: flex;
    justify-content: flex-end;
    gap: 1%;
  }

  label {
    font-size: 1rem;
    font-weight: 500;
  }
  span {
    color: red;
  }
}
