@mixin dimensions($gap, $direction, $align-items: center) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
  align-items: $align-items;
}

.users-search {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  font-weight: 500;

  input,
  select {
    border-radius: 4px;
    width: 90%;
    height: 2.2rem;
  }

  &__date-registered {
    @include dimensions(0%, column, normal);
  }

  &__name {
    @include dimensions(0%, column, flex-start);
  }

  &__phone {
    @include dimensions(0%, row);
    justify-content: space-between;

    input {
      width: 80%;
    }
  }
  &__state {
    @include dimensions(17%, row);
  }
  &__role-zipCode {
    @include dimensions(0%, row);
    justify-content: space-between;

    input {
      width: 100%;
    }
  }

  &__number-of-vehicle {
    @include dimensions(16%, row);
    justify-content: space-between;

    input {
      width: 5rem;
    }
  }

  &__valid-driver-licene {
    @include dimensions(24%, row);
  }

  &__active {
    @include dimensions(50%, row);
  }

  &__documents {
    @include dimensions(10%, row);
  }

  mat-button-toggle-group {
    height: 2rem;

    mat-button-toggle {
      display: flex;
      align-items: center;
    }
  }
}

.mat-button-toggle-appearance-standard.mat-button-toggle-checked {
  background-color: #7989e5;
}
