<div class="users-search">
  <div class="users-search__date-registered">
    <label for="date-registered">Date Registered</label>
    <input id="date-reigstered" type="text" placeholder="Select Date" />
  </div>
  <div class="users-search__name">
    <label for="firstname">Firstname</label>
    <input id="firstname" type="text" />
    <label for="lastname">LastName</label>
    <input id="lastname" type="text" />
  </div>
  <div>
    <label for="email">Email Address</label> <input id="email" type="text" />
  </div>
  <div>
    <label for="phone">Phone </label>
    <input id="phone" type="text" />
  </div>
  <div>
    <label for="pnc"> Personal Numerical Code</label>
    <input id="pnc" type="text" />
  </div>
  <div>
    <label for="number-of-vehicle">Number of Vehicle Registered</label>
    <input id="number-of-vehicle" type="text" />
  </div>
  <div>
    <label for="state">State </label>
    <input id="state" type="text" />
  </div>
  <div>
    <label for="active"> Active</label>
    <input id="active" type="text" />
  </div>
  <div>
    <label for="zipCode">Zip Code </label>
    <input id="zipCode" type="text" />
  </div>
  <div>
    <label for="license"> Valid Driver License</label>
    <input id="license" type="text" />
  </div>
  <div>
    <label for="orderDocuments">All Documents are in order</label>
    <input id="orderDocuments" type="text" />
  </div>
  <div>
    <label for="registeredVehicle">Registered Vehicle</label>
    <input id="registeredVehicle" type="text" />
  </div>
  <div>
    <label for="role">Role</label>
    <input id="role" type="text" />
  </div>
</div>
