<div class="users-search">
  <div class="users-search__name">
    <label>Firstname</label>
    <input id="firstname" #firstname type="text" />
    <label>LastName</label>
    <input id="lastname" type="text" />
  </div>
  <div>
    <label>Email Address 📩</label>
    <input id="email" type="text" />
  </div>
  <div>
    <label>Registered Vehicle</label>
    <input id="registeredVehicle" type="text" />
  </div>
  <div>
    <label> Personal Numerical Code</label>
    <input id="pnc" type="text" />
  </div>
  <div class="users-search__phone">
    <label>Phone 📞 </label>
    <input id="phone" type="text" />
  </div>
  <div class="users-search__number-of-vehicle">
    <label>Number of Vehicle Registered</label>
    <input id="number-of-vehicle" type="text" />
  </div>
  <div class="users-search__state">
    <label>State </label>
    <input id="state" type="text" />
  </div>
  <div class="users-search__role-zipCode">
    <div>
      <label>Role</label>
      <select>
        <option value="admin">User</option>
        <option value="user">Admin</option>
      </select>
    </div>
    <div>
      <label>Zip Code </label>
      <input id="zipCode" type="text" />
    </div>
  </div>

  <!-- <div class="users-search__valid-driver-licene">
    <label> Valid Driver License</label>
    <mat-button-toggle-group>
      <mat-button-toggle value="yes">Yes</mat-button-toggle>
      <mat-button-toggle value="no">No</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="users-search__documents">
    <label>All Documents are in order</label>
    <mat-button-toggle-group>
      <mat-button-toggle value="yes">Yes</mat-button-toggle>
      <mat-button-toggle value="no">No</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="users-search__active">
    <label> Active</label>
    <mat-button-toggle-group>
      <mat-button-toggle value="yes">Yes</mat-button-toggle>
      <mat-button-toggle value="no">No</mat-button-toggle>
    </mat-button-toggle-group>
  </div> -->
</div>
