<div class="reset-password">
  <div class="reset-password__form">
    <div class="reset-password__form__title">Reset Password</div>
    <div class="reset-password__form__image">
      <img src="../../../../assets/images/reset-password.png" />
    </div>
    <form class="reset-password__form__fields" [formGroup]="resetPassword">
      <mat-form-field appearance="outline">
        <input
          matInput
          type="password"
          formControlName="newPassword"
          placeholder="New Password"
          (input)="checkPassword()"
          type="{{ showNewPassword ? 'text' : 'password' }}"
        />
        <mat-icon
          *ngIf="showNewPassword"
          (click)="showNewPasswordChange()"
          matSuffix
          class="container__login-form__credentials__password__icon"
          svgIcon="show-password"
        ></mat-icon>
        <mat-icon
          *ngIf="!showNewPassword"
          (click)="showNewPasswordChange()"
          matSuffix
          class="container__login-form__credentials__password__icon"
          svgIcon="hide password"
        ></mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input
          matInput
          type="password"
          formControlName="confirmNewPassword"
          placeholder="Password Confirm"
          type="{{ showNewPasswordConfirm ? 'text' : 'password' }}"
        />
        <mat-icon
          *ngIf="showNewPasswordConfirm"
          (click)="showNewPasswordConfirmChange()"
          matSuffix
          class="container__login-form__credentials__password__icon"
          svgIcon="show-password"
        ></mat-icon>
        <mat-icon
          *ngIf="!showNewPasswordConfirm"
          (click)="showNewPasswordConfirmChange()"
          matSuffix
          class="container__login-form__credentials__password__icon"
          svgIcon="hide password"
        ></mat-icon>
      </mat-form-field>
      <mat-error
        *ngIf="
          resetPassword.get('confirmNewPassword')?.hasError('required') &&
          resetPassword.get('confirmNewPassword')?.touched
        "
        >Confirm password is required.</mat-error
      >
      <mat-error *ngIf="!matchPassword()">Passwords do not match!</mat-error>
    </form>
    <div class="container__login-form__password-requires">
      <p>Passoword must contain:</p>
      <ul>
        <div>
          <span>
            <mat-icon svgIcon="check" *ngIf="!isMinLengthValid"></mat-icon>
            <mat-icon svgIcon="check-green" *ngIf="isMinLengthValid"></mat-icon>
            At least 8 characters</span
          >
        </div>
        <div>
          <span>
            <mat-icon svgIcon="check" *ngIf="!isLowerCaseValid"></mat-icon>
            <mat-icon svgIcon="check-green" *ngIf="isLowerCaseValid"></mat-icon>
            At least one small letter</span
          >
        </div>
        <div>
          <span>
            <mat-icon svgIcon="check" *ngIf="!isUpperCaseValid"></mat-icon>
            <mat-icon svgIcon="check-green" *ngIf="isUpperCaseValid"></mat-icon>
            At least one capital letter
          </span>
        </div>
        <div>
          <span>
            <mat-icon svgIcon="check" *ngIf="!isSpecialCharValid"></mat-icon>
            <mat-icon
              svgIcon="check-green"
              *ngIf="isSpecialCharValid"
            ></mat-icon>
            At least one number or symbol</span
          >
        </div>
      </ul>
    </div>
    <div class="reset-password__button">
      <button>Change Passord</button>
    </div>
  </div>
</div>
