.charts {
  overflow: auto;
  height: 93vh;

  &__title {
    background-color: rgb(212, 195, 255);
    display: flex;
    justify-content: center;
    height: 4vh;
    font-size: 1rem;
    font-weight: bold;
    align-items: center;
    margin-bottom: 2%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
