<div class="container">
  <div class="container__chart-types">
    <div #chart class="container__chart"></div>
    <div class="container__buttons">
      <button
        (click)="changeChartType('bar')"
        [ngClass]="{ selected: selectedChartType === 'bar' }"
      >
        Parking Registered
      </button>
      <button
        (click)="changeChartType('line')"
        [ngClass]="{ selected: selectedChartType === 'line' }"
      >
        Line Chart
      </button>
      <button
        (click)="changeChartType('column')"
        [ngClass]="{ selected: selectedChartType === 'column' }"
      >
        Reservations Chart
      </button>
      <button
        (click)="changeChartType('pie')"
        [ngClass]="{ selected: selectedChartType === 'pie' }"
      >
        Vehicles Registered
      </button>
    </div>
  </div>
</div>
