<div class="container">
  <form class="container__recover-account-form">
    <div class="container__recover-account-form__top-image">
      <img
        class="container__recover-account-form__login-top-image__image"
        src="../../../../assets/images/icons-send-email.png"
      />
    </div>
    <div class="container__recover-account-form__recover-account-title">
      Recover Account
    </div>
    <div class="container__recover-account-form__text">
      <div class="container__recover-account-form__text__p">
        <div>
          <p class="container__recover-account-form__text__p__p1">
            Please enter your email address to receive
          </p>
          <p class="container__recover-account-form__text__p__p2">
            a password reset link
          </p>
        </div>
      </div>
      <div class="container__recover-account-form__text__d">
        <input
          class="container__recover-account-form__text__d__input"
          type="text"
          [(ngModel)]="email"
          name="email"
        />
      </div>
    </div>

    <div class="container__recover-account-form__div-button">
      <button
        class="container__recover-account-form__div-button__button"
        (click)="sendEmail()"
      >
        SEND
      </button>
      <div class="container__recover-account-form__div-button__paragraph">
        <p>Have another account ?</p>
        <a
          [routerLink]="'/login'"
          class="container__recover-account-form__div-button__paragraph__a"
          >Login here.</a
        >
      </div>
    </div>

    <div class="container__recover-account-form__div-logo">
      <img
        class="container__recover-account-form__div-logo__logo-image"
        src="../../../../assets/images/logo-TMParking.png"
      />
    </div>
  </form>
</div>
