<app-nav-bar></app-nav-bar>
<mat-card>
  <mat-card>
    <div class="active-tabs">
      <div>{{ activeTable[activeTabIndex] }}</div>
      <button mat-button [matMenuTriggerFor]="menu" class="active-tabs__export">
        Export as
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>PDF</button>
        <button mat-menu-item>CSV</button>
      </mat-menu>
    </div>
    <mat-divider></mat-divider>
    <div>
      <mat-tab-group
        class="mat-tab-group"
        #matTabGroup
        (selectedIndexChange)="updateTableNumber($event)"
      >
        <mat-tab label="Parking Spaces"
          ><app-parking-space-table></app-parking-space-table>
        </mat-tab>
        <mat-tab label="Users"><app-users-table></app-users-table> </mat-tab>
        <mat-tab label="Vehicles">
          <app-vehicles-table></app-vehicles-table>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-card>
</mat-card>
