<app-nav-bar></app-nav-bar>
<mat-card>
  <mat-card>
    <mat-card-header>
      <div class="active-tabs">{{ activeTable }}</div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <div>
      <mat-tab-group class="mat-tab-group">
        <mat-tab label="Parking Spaces"
          ><app-parking-space-table></app-parking-space-table>
        </mat-tab>
        <mat-tab label="Users"><app-users-table></app-users-table> </mat-tab>
        <mat-tab label="Vehicles">
          <app-vehicles-table></app-vehicles-table>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-card>
</mat-card>
