<div class="add_new_parking">
  <div class="add_new_parking__form">
    <form
      class="add_new_parking__form__details"
      [formGroup]="addNewParkingSpaceFormGroup"
    >
      <div>
        <div class="add_new_parking__form__details__title">
          <span>Add New Parking Space</span>
          <mat-icon
            svgIcon="icon-close"
            (click)="closeAddNewParkingSpaceDialog()"
          ></mat-icon>
        </div>
        <mat-divider></mat-divider>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Location *(street and number)</mat-label>
          <input
            matInput
            formControlName="address"
            required
            [(ngModel)]="address"
            required
          />
          <mat-error
            *ngIf="
              this.addNewParkingSpaceFormGroup
                .get('address')
                ?.hasError('required')
            "
            >Address is required!
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <textarea
            matInput
            formControlName="descriptionParking"
            rows="3"
            placeholder="Description about parking"
          ></textarea>
        </mat-form-field>
      </div>
      <div class="add_new_parking__form__details__parkingSpaces">
        <mat-form-field appearance="outline">
          <mat-label>Parking Spaces (number)</mat-label>
          <input
            matInput
            formControlName="numberSpaces"
            required
            [(ngModel)]="numberOfParkingSpaces"
          />
          <mat-error
            *ngIf="
              this.addNewParkingSpaceFormGroup
                .get('numberSpaces')
                ?.hasError('required')
            "
            >Number spaces is required!
          </mat-error>
          <mat-error
            *ngIf="
              this.addNewParkingSpaceFormGroup
                .get('numberSpaces')
                ?.hasError('maxlength')
            "
            >Limit is set to 3 numbers.</mat-error
          >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-date-range-input [rangePicker]="picker">
            <input
              [(ngModel)]="startDate"
              matStartDate
              placeholder="Start date"
              (focus)="picker.open()"
              formControlName="startDate"
              required
            />
            <input
              [(ngModel)]="endDate"
              matEndDate
              placeholder="End date"
              (focus)="picker.open()"
              formControlName="endDate"
              required
            />
          </mat-date-range-input>
          <mat-error
            *ngIf="
              this.addNewParkingSpaceFormGroup
                .get('startDate')
                ?.hasError('required') &&
              this.addNewParkingSpaceFormGroup
                .get('endDate')
                ?.hasError('required')
            "
            >Start date and end date is required !</mat-error
          >
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <ngx-mat-file-input
            formControlName="imageFileUpload"
            placeholder="Upload a significant image for your parking lot"
          ></ngx-mat-file-input>
          <mat-hint>File format: image(.img, .jpg, .jpeg)</mat-hint>
          <mat-error
            *ngIf="
              addNewParkingSpaceFormGroup
                .get('imageFileUpload')
                ?.hasError('required')
            "
          >
            If no significant image is uploaded for your parking, a default
            image will be added.
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <ngx-mat-file-input
            formControlName="leasePermit"
            placeholder="Upload a lease permit."
          ></ngx-mat-file-input>
          <mat-hint>File format: image(.img, .jpg, .jpeg) or .pdf</mat-hint>
          <mat-error
            *ngIf="
              addNewParkingSpaceFormGroup
                .get('leasePermit')
                ?.hasError('required')
            "
          >
            Lease permit upload is required !
          </mat-error>
        </mat-form-field>
      </div>
      <div class="add_new_parking__form__details__buttons">
        <div class="add_new_parking__form__details__buttons__toggle-group">
          <label>Underground parking lots*</label>
          <mat-button-toggle-group>
            <mat-button-toggle value="yes">Yes</mat-button-toggle>
            <mat-button-toggle value="no">No</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div class="add_new_parking__form__details__buttons__toggle-group">
          <label>Multistorey car park*</label>
          <mat-button-toggle-group formControlName="undergroundParkingLots">
            <mat-button-toggle value="yes">Yes</mat-button-toggle>
            <mat-button-toggle value="no">No</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div class="add_new_parking__form__details__buttons__toggle-group">
          <label>Video surveillance area*</label>
          <mat-button-toggle-group
            formControlName="videoSurveillance"
            #toggleGroup="matButtonToggleGroup"
            [(ngModel)]="videoSurveillance"
            (change)="changeToggleButtonValue(toggleGroup.value)"
          >
            <mat-button-toggle value="true">Yes</mat-button-toggle>
            <mat-button-toggle value="false">No</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div class="add_new_parking__form__details__buttons__toggle-group">
          <label>Paid parking*</label>
          <mat-button-toggle-group
            formControlName="paidParking"
            #toggleGroup="matButtonToggleGroup"
            [(ngModel)]="paidParking"
            (change)="changeToggleButtonValue(toggleGroup.value)"
          >
            <mat-button-toggle value="true">Yes</mat-button-toggle>
            <mat-button-toggle value="false">No</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>

      <div class="add_new_parking__form__details__check-box">
        <label
          >Choose one or more types of vehicles that can be parked* :</label
        >
        <mat-checkbox
          name="automobile"
          color="primary"
          [(ngModel)]="automobile"
          (change)="(isAutomobile)"
          formControlName="isAutomobile"
          >Automobil</mat-checkbox
        >
        <mat-checkbox
          color="primary"
          [(ngModel)]="truck"
          (change)="(isTruck)"
          formControlName="isTruck"
          name="truck"
          >Truck</mat-checkbox
        >
        <mat-checkbox
          name="agricultural"
          color="primary"
          [(ngModel)]="agricultural"
          (change)="(isAgricultural)"
          formControlName="isAgriculturalMachinery"
          >Agricultural machinery</mat-checkbox
        >
        <mat-checkbox
          name="publicTransportationVehicle"
          color="primary"
          [(ngModel)]="publicTransportationVehicle"
          (change)="(publicTransportationVehicle)"
          formControlName="isPublicTransportationVehicle"
          >Public transportation vehicle</mat-checkbox
        >
      </div>
    </form>
    <div class="add_new_parking__form__create-card">
      <div class="add_new_parking__form__create-card__card-full">
        <div class="add_new_parking__form__create-card__card-full__image">
          <img
            class="add_new_parking__form__create-card__card-full__image__img"
            src="./../../../../assets/images/parking-spaces/parcare-etaj.jpg"
          />
        </div>
        <div
          class="add_new_parking__form__create-card__card-full__informations"
        >
          <div
            class="add_new_parking__form__create-card__card-full__informations__p"
          >
            <p
              class="add_new_parking__form__create-card__card-full__informations__p__author"
            >
              Added by {{ userAuthenticated }}
            </p>
            <p
              class="add_new_parking__form__create-card__card-full__informations__p__address"
            >
              {{ address }}
            </p>
            <p
              class="add_new_parking__form__create-card__card-full__informations__p__date"
            >
              {{ "DATE :" }}
              {{ startDate | date : "dd-MM-yyyy" }} -
              {{ endDate | date : "dd-MM-yyyy" }}
            </p>
          </div>
          <div
            class="add_new_parking__form__create-card__card-full__informations__div"
          >
            <div>
              <img
                *ngIf="automobile"
                class="add_new_parking__form__create-card__card-full__informations__div__img-car"
                src="../../../../assets/images/img-auto.png"
              />
              <img
                *ngIf="truck"
                src="../../../../assets/images/truck-image.png"
                class="add_new_parking__form__create-card__card-full__informations__div__img-truck"
              />
              <img
                *ngIf="agricultural"
                src="../../../../assets/images/tractor.png"
                class="add_new_parking__form__create-card__card-full__informations__div__img-agr"
              />
              <img
                *ngIf="publicTransportationVehicle"
                src="../../../../assets/images/bus.jpg"
                class="add_new_parking__form__create-card__card-full__informations__div__img-bus"
              />
            </div>

            <div>
              <p
                class="add_new_parking__form__create-card__card-full__informations__div__number"
              >
                {{ numberOfParkingSpaces }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="add_new_parking__buttons">
    <button class="btn btn-warning">Save as Draft</button>
    <button class="btn add_new_parking__buttons__send">Send</button>
    <button class="btn btn-danger" (click)="closeAddNewParkingSpaceDialog()">
      Discard
    </button>
  </div>
</div>
