<mat-toolbar
  [ngClass]="{
    'mat-toolbar': true,
    'logged-in': isLogin,
    'logged-out': !isLogin
  }"
>
  <div class="mat-toolba">
    <img
      (click)="openTmParkingInfoDialog()"
      class="mat-toolbar__img"
      src="../../../assets/images/logo-TMParking.png"
    />
    <button
      class="mat-toolbar__my-profile"
      *ngIf="isLogin === true"
      (click)="toggleSidenav()"
    >
      MY PROFILE
    </button>
  </div>

  <div class="mat-toolbar__buttons">
    <div class="mat-toolbar__buttons__search">
      <mat-icon
        class="mat-toolbar__buttons__search__icon"
        svgIcon="search"
      ></mat-icon>
      <input
        class="mat-toolbar__buttons__input"
        type="text"
        placeholder="Search for parking places..."
      />
    </div>
    <button
      mat-button
      class="mat-toolbar__buttons__button-register"
      (click)="goToRegister()"
    >
      REGISTER
    </button>
    <button
      mat-button
      class="mat-toolbar__buttons__button-login"
      (click)="goToLogin()"
    >
      LOGIN
    </button>
    <button
      class="mat-toolbar__buttons__button-logout"
      *ngIf="isLogin === true"
      (click)="logout()"
    >
      LOGOUT
    </button>
  </div>
</mat-toolbar>
