.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../../../assets/icons/background-login.jpg") !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  &__login-form {
    width: 20%;
    height: 85%;
    border-radius: 1rem;
    display: flex;
    gap: 17%;
    flex-direction: column;
    background-color: white;

    &__login-image {
      width: 30%;
    }

    &__login-title {
      margin-top: 10%;
      font-weight: bold;
      display: flex;
      justify-content: center;
    }
    &__credentials {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3rem;
      &__username {
        display: flex;
        flex-direction: column;
        &__label {
          font-weight: bold;
        }
      }
      &__password {
        display: flex;
        flex-direction: column;
        &__label {
          font-weight: bold;
        }
      }
    }
    &__div-button {
      display: flex;
      align-items: center;
      flex-direction: column;

      &__button {
        width: 30%;
        height: 2rem;
        background-color: rgb(110, 25, 147);
        color: white;
        border-radius: 1rem;
      }
    }

    &__div-logo {
      display: flex;
      justify-content: center;
      &__logo-image {
        width: 30%;
        height: 70%;
      }
    }
  }
}
