.form {
  padding: 10px;
  &__locatie {
    width: 40%;
    display: flex;
    &__label {
      margin-top: 20px;
      width: 11rem;
    }
    &__input {
      margin-top: 10px;
      border: 1px solid #000;
    }
  }
  &__title {
    &__p {
      font-weight: 400;
      font-size: 25px;
    }
  }
}
