<div class="type">
  <div><h2>Book a parking spot</h2></div>
  <div>
    <mat-button-toggle-group
      (change)="changeType($event.value)"
      [value]="bookingType"
    >
      <mat-button-toggle value="oneDay">One day</mat-button-toggle>
      <mat-button-toggle value="manyDays">Many days</mat-button-toggle>
      <mat-button-toggle value="subscription">Subscription</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>

<div class="booking__fields">
  <form
    *ngIf="bookingType === 'oneDay'"
    [formGroup]="oneDayBookingFormGroup"
    class="booking__fields__one-day"
  >
    <div class="booking__fields__date">
      <div>Choose a date</div>
      <div>
        <mat-form-field>
          <input
            matInput
            [matDatepicker]="picker"
            type="date"
            formControlName="startDate"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <!-- <div class="booking__fields__time">
      <div>Alege intervalul orar</div>
      <div class="booking__fields__time__mat-form-field">
        <div>
          <mat-form-field>
            <mat-label>Start Hours</mat-label>
            <select matNativeControl required [(ngModel)]="startHour">
              <option *ngFor="let hour of hours" value="hour">
                {{ hour | hourFormat }}
              </option>
            </select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>End Hours</mat-label>
            <select matNativeControl required [(ngModel)]="endHour">
              <option *ngFor="let hour of hours" value="hour">
                {{ hour | hourFormat }}
              </option>
            </select>
          </mat-form-field>
        </div>
      </div>
    </div> -->

    <div class="booking__fields__vehicle">
      <div>Alege vehiculul care va fi parcat</div>
      <div>
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Vehicle Number"
            [matAutocomplete]="auto"
            formControlName="vehicleRegistrationNumber"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let vehicle of vehicles"
              [value]="vehicle.vehicleIdentificationNumber"
            >
              {{ vehicle.vehicleIdentificationNumber }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
    <div class="booking__fields__vehicle">
      <div>Name of parking spot</div>
      <div>
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Choose name of parking spot"
            [matAutocomplete]="parkingSpots"
            formControlName="spaceModelName"
          />
          <mat-autocomplete #parkingSpots="matAutocomplete">
            <mat-option
              *ngFor="let parkingSpot of allParkingLotsForThisParking"
              [value]="parkingSpot.name"
            >
              {{ parkingSpot.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>

    <div class="booking__fields__vehicle">
      <div>Choose method payment</div>
      <div>
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Choose method payment"
            [matAutocomplete]="payment"
            formControlName="paymentMethod"
          />
          <mat-autocomplete #payment="matAutocomplete">
            <mat-option *ngFor="let method of paymentMethods" [value]="method">
              {{ method }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>

    <div class="booking__fields__vehicle">
      <div>Total to paint</div>
      <div>
        <mat-form-field>
          <input matInput placeholder="LEI 💳" formControlName="totalToPay" />
        </mat-form-field>
      </div>
    </div>
  </form>
  <form
    *ngIf="bookingType === 'manyDays'"
    [formGroup]="manyDaysBookingFormGroup"
    class="booking__fields__many-days"
  >
    <div class="booking__fields__date">
      <div>Choose a start date</div>
      <div>
        <mat-form-field>
          <input
            matInput
            [matDatepicker]="picker"
            type="date"
            formControlName="startDate"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="booking__fields__date">
      <div>Choose a end date</div>
      <div>
        <mat-form-field>
          <input
            matInput
            [matDatepicker]="picker1"
            type="date"
            formControlName="endDate"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker1"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="booking__fields__vehicle">
      <div>Alege vehiculul care va fi parcat</div>
      <div>
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Vehicle Number"
            [matAutocomplete]="auto"
            formControlName="vehicleRegistrationNumber"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let vehicle of vehicles"
              [value]="vehicle.vehicleIdentificationNumber"
            >
              {{ vehicle.vehicleIdentificationNumber }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
    <div class="booking__fields__vehicle">
      <div>Name of parking spot</div>
      <div>
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Choose name of parking spot"
            [matAutocomplete]="parkingSpots"
            formControlName="spaceModelName"
          />
          <mat-autocomplete #parkingSpots="matAutocomplete">
            <mat-option
              *ngFor="let parkingSpot of allParkingLotsForThisParking"
              [value]="parkingSpot.name"
            >
              {{ parkingSpot.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>

    <div class="booking__fields__vehicle">
      <div>Choose method payment</div>
      <div>
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Choose method payment"
            [matAutocomplete]="payment"
            formControlName="paymentMethod"
          />
          <mat-autocomplete #payment="matAutocomplete">
            <mat-option *ngFor="let method of paymentMethods" [value]="method">
              {{ method }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
    <div class="booking__fields__vehicle">
      <div>Total to paint</div>
      <div>
        <mat-form-field>
          <input matInput placeholder="LEI 💳" formControlName="totalToPay" />
        </mat-form-field>
      </div>
    </div>
  </form>
  <form
    [formGroup]="subscriptionBookingForm"
    *ngIf="bookingType === 'subscription'"
    class="booking__fields__subscription"
  >
    <div class="booking__fields__date">
      <div>Choose a start date</div>
      <div>
        <mat-form-field>
          <input
            matInput
            [matDatepicker]="picker"
            type="date"
            formControlName="startDate"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="booking__fields__vehicle">
      <div>Alege vehiculul care va fi parcat</div>
      <div>
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Vehicle Number"
            [matAutocomplete]="auto"
            formControlName="vehicleRegistrationNumber"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let vehicle of vehicles"
              [value]="vehicle.vehicleIdentificationNumber"
            >
              {{ vehicle.vehicleIdentificationNumber }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
    <div class="booking__fields__vehicle">
      <div>Select the number of months</div>
      <div>
        <mat-form-field>
          <input
            matInput
            type="number"
            [matAutocomplete]="numberOfMonths"
            placeholder="Select the number of months"
            formControlName="numberOfMonths"
          />
          <mat-autocomplete #numberOfMonths="matAutocomplete">
            <mat-option *ngFor="let month of months" [value]="month">
              {{ month }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
    <div class="booking__fields__vehicle">
      <div>Name of parking spot</div>
      <div>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Choose name of parking spot"
            [matAutocomplete]="parkingSpots"
            formControlName="spaceModelName"
          />
          <mat-autocomplete #parkingSpots="matAutocomplete">
            <mat-option
              *ngFor="let parkingSpot of allParkingLotsForThisParking"
              [value]="parkingSpot.name"
            >
              {{ parkingSpot.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
    <div class="booking__fields__vehicle">
      <div>Total to paint</div>
      <div>
        <mat-form-field>
          <input matInput placeholder="LEI 💳" formControlName="totalToPay" />
        </mat-form-field>
      </div>
    </div>
  </form>
</div>

<div class="booking__button">
  <button appHoverElement (click)="openLocationDialog()">
    <mat-icon svgIcon="location-dot-solid"></mat-icon>
    Location
  </button>

  <button appHoverElement>Paid</button>
  <button appHoverElement (click)="registerReservation(bookingType)">
    Book
  </button>
</div>

<mat-divider></mat-divider>

<div class="logo">
  <img src="../../../assets/images/logo-TMParking.png" />
</div>
