@mixin button-back {
  font-weight: 500;
  width: 13%;
  background-color: rgb(0 10 255);
  color: white;
  border: none;
  height: 2.5rem;
  border-radius: 6px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@mixin button-paid {
  font-weight: 500;
  width: 13%;
  background-color: #ffc107;
  color: black;
  border: none;
  height: 2.5rem;
  border-radius: 6px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align-items: center;
}

@mixin button-location {
  font-weight: 500;
  display: flex;
  width: 20%;
  background-color: rgb(0, 122, 20);
  color: white;
  border: none;
  height: 2.5rem;
  border-radius: 6px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: center;
  align-items: center;
  gap: 6%;
}

.type {
  display: flex;
  flex-direction: row;
  gap: 28%;
  margin-bottom: 8%;
}

.booking {
  &__fields {
    height: 65%;
    width: 100%;

    &__one-day {
      height: 100%;
    }

    &__many-days {
      height: 100%;
    }

    &__subscription {
      margin-top: 3%;
      height: 100%;
    }

    &__date {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      div {
        width: 100%;
        height: 100%;
      }

      mat-form-field {
        width: 100%;
      }
    }

    &__time {
      display: flex;
      flex-direction: row;
      align-items: center;

      &__mat-form-field {
        display: flex;
        gap: 10%;

        select,
        option {
          font-weight: bold;
          text-align: center;
        }

        mat-form-field {
          width: 80%;
        }
      }

      div {
        width: 100%;
        height: 100%;
      }
    }

    &__vehicle {
      display: flex;
      flex-direction: row;
      align-items: center;

      div {
        width: 100%;
        height: 100%;
      }

      mat-form-field {
        display: flex;
      }
    }
  }

  &__button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5%;
    margin-top: 5%;

    button:nth-child(1) {
      @include button-location();
    }

    button:nth-child(2) {
      @include button-paid();
    }

    button:nth-child(3) {
      @include button-back();
    }
  }

  mat-divider {
    margin-top: 5%;
  }
}

::ng-deep.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white;
}

.mat-button-toggle-appearance-standard.mat-button-toggle-checked {
  background-color: #7989e5;
}

.mat-button-toggle-label {
  flex: 1 1 100%;
  box-sizing: border-box;
  align-items: center;
  flex-direction: row;
  display: flex;

  .mat-button-toggle-label-content {
    text-align: center;
    flex: 1 1 100%;
  }
}

mat-button-toggle-group {
  height: 4vh;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 5%;

  img {
    width: 36%;
    height: 80%;
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2),
      0 6px 20px 0 rgba(255, 255, 255, 0.19);
    border-radius: 1rem;
  }
}

.error-date {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 4%;
}
