.parking-spaces {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 3%;
  max-height: 55.4rem;
  margin-top: 0.5rem;
  margin-left: 2%;
  margin-top: 2%;

  &__card {
    width: 11.5vw;
    height: 23vh;
    border-radius: 10px;
    border: 2px solid black;

    span {
      z-index: 10;
    }

    &__badge {
      .mat-badge-content {
        background: rgb(255, 230, 0);
        color: black;
      }
    }

    &__parkingSpaceIsExpired {
      opacity: 0.5;
    }

    img {
      border-radius: 10px 10px 0rem 0rem;
      width: 100%;
      height: 100%;
    }

    &__image {
      position: relative;
      height: 65%;

      &__icons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        top: -97%;
        padding: 2%;

        &__delete,
        &__edit {
          background-color: white;
          border-radius: 50%;
          width: 18%;
          height: 4vh;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid black;
        }

        &__draft {
          width: 100%;
          margin-top: 14%;
        }
      }
    }

    &__informations {
      padding: 1%;
      display: flex;
      flex-direction: column;

      &__ownerAddressDate {
        &__date {
          font-weight: 600;
          font-size: 1.5vh;
        }

        &__camera {
          font-weight: 600;
          color: #009dff;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          span {
            font-size: 1.5vh;
          }
        }

        &__paid {
          font-weight: 600;
          font-size: 2vh;
          color: rgb(54, 0, 105);
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }

        display: flex;
        flex-direction: column;

        img {
          width: 9%;
        }
      }

      &__typesOfVehicleNumberOfParkingSpaces {
        display: flex;
        align-items: center;

        &__typesOfVehicles {
          display: flex;
          gap: 8%;

          img {
            width: 10%;
          }
        }

        &__numberOfParkingSpaces {
          font-weight: 600;
          font-size: 2vh;
          color: rgb(54, 0, 105);
        }
      }
    }
  }
}
