<div class="display-cards">
  <div class="display-cards__searchs">
    <div
      *ngIf="
        toggleButtonValue === 'allParkingSpaces' ||
        toggleButtonValue === 'myParkingSpaces'
      "
    >
      <app-parking-space-search></app-parking-space-search>
    </div>
    <div *ngIf="toggleButtonValue === 'users'">
      <app-user-search></app-user-search>
    </div>
    <div
      *ngIf="
        toggleButtonValue === 'allVehicles' ||
        toggleButtonValue === 'myVehicles'
      "
    >
      <app-vehicle-search></app-vehicle-search>
    </div>
  </div>
  <div class="display-cards__admin">
    <div
      [ngClass]="
        role === 'Administrator'
          ? 'display-cards__admin__buttons'
          : 'display-cards__admin__buttons-user'
      "
    >
      <div *ngIf="role === 'Administrator'">
        <button
          class="display-cards__admin__buttons__tables"
          (click)="goToTables()"
        >
          <img src="../../../assets/images/table.png" />
          <span>Tables</span>
        </button>
      </div>
      <div>
        <mat-button-toggle-group
          [disabled]="!isLogin"
          [(ngModel)]="toggleButtonValue"
          class="display-cards__admin__buttons__mat-toggle-buttons"
          (change)="sendToggleValueParkingSpaces()"
        >
          <mat-button-toggle value="allParkingSpaces"
            >🚙 All Parking Spaces</mat-button-toggle
          >
          <mat-button-toggle value="users" *ngIf="role === 'Administrator'"
            >🙍🏻‍♂️ Users</mat-button-toggle
          >
          <mat-button-toggle
            value="myVehicles"
            *ngIf="role === 'User' || !isLogin"
            >❤️ My Vehicles</mat-button-toggle
          >
          <mat-button-toggle value="myParkingSpaces"
            >❤️ My Parking Spaces</mat-button-toggle
          >
          <mat-button-toggle
            value="allVehicles"
            *ngIf="role === 'Administrator'"
            >🚙All Vehicles</mat-button-toggle
          >
          <mat-button-toggle value="myReservations" *ngIf="role === 'User'"
            >📆 My reservations</mat-button-toggle
          >
          <mat-button-toggle
            value="allReservations"
            *ngIf="role === 'Administrator'"
            >📆 All reservations</mat-button-toggle
          >
        </mat-button-toggle-group>
        <button
          class="display-cards__admin__buttons__add-new-park-space"
          mat-button
          (click)="openAddNewParkingDialogFunction()"
        >
          ➕ ADD NEW PARKING SPACE
        </button>

        <button
          class="display-cards__admin__buttons__add-new-park-space"
          mat-button
          (click)="openAddNewVehicleDialogFunction()"
        >
          ➕ ADD NEW VEHICLE
        </button>

        <button
          *ngIf="role === 'Administrator'"
          class="display-cards__admin__buttons__add-new-park-space"
          mat-button
          (click)="openAddNewUserDialog()"
        >
          ➕ ADD NEW USER
        </button>
      </div>
    </div>

    <div class="display-cards__admin__display">
      <div
        *ngIf="
          toggleButtonValue === 'allParkingSpaces' ||
          toggleButtonValue === 'myParkingSpaces'
        "
      >
        <app-parking-spaces></app-parking-spaces>
      </div>
      <div
        *ngIf="toggleButtonValue === 'users'"
        class="display-cards__admin__display__users-display"
      >
        <app-users-admin></app-users-admin>
      </div>
      <div
        *ngIf="
          toggleButtonValue === 'allVehicles' ||
          toggleButtonValue === 'myVehicles'
        "
      >
        <app-vehicles></app-vehicles>
      </div>
      <div
        *ngIf="
          toggleButtonValue === 'myReservations' ||
          toggleButtonValue === 'allReservations'
        "
      >
        <app-parking-reservations></app-parking-reservations>
      </div>
    </div>
  </div>
</div>
