.areas {
  display: flex;
  flex-wrap: wrap;
  gap: 0.9em;
  width: 100%;
  margin-top: 1rem;

  &__button-clicked {
    background: #f1f2f3;
    border-radius: 0.7em;
    border: none;
    height: 2rem;
    text-transform: uppercase;
  }
  &__button-no-clicked {
    background: #ffc400;
    border-radius: 0.7em;
    border: none;
    height: 2rem;
    text-transform: uppercase;
  }
}

.types-of-vehicles {
  margin-top: 1rem;

  &__mat-checkbox {
    display: flex;
    flex-direction: column;
  }
}

.type-of-parking {
  margin-top: 1rem;

  &__checkbox {
    display: flex;
    flex-direction: column;
  }
}
.number-of-parking-spaces {
  input {
    border-radius: 4px;
    width: 30%;
    height: 2.2rem;
    font-size: 1.5em;
  }
}

mat-form-field {
  width: 100%;
  font-size: 120%;
}
::ng-deep .mat-datepicker-content .mat-calendar {
  width: 330px !important;
  height: 412px !important;
}
