<div class="select-date">
  <input type="text" />
</div>
<div class="related-tags">
  <h1>Related Tags 🏬</h1>
  <div class="zone">
    <button *ngFor="let zona of zone" mat-button class="zone__button">
      {{ "🚗" + zona }}
    </button>
  </div>
</div>

<div class="types-of-vehicles">
  <h2>Types of vehicles 🚙</h2>
  <div class="types-of-vehicles__mat-checkbox">
    <mat-checkbox>Automobil</mat-checkbox>
    <mat-checkbox>Truck</mat-checkbox>
    <mat-checkbox>Agricultural Machinery</mat-checkbox>
    <mat-checkbox>Public Transport</mat-checkbox>
  </div>
</div>

<div class="type-of-parking">
  <h2>Type of parking 🪙</h2>
  <div class="type-of-parking__checkbox">
    <mat-checkbox>With payment</mat-checkbox>
    <mat-checkbox>Free</mat-checkbox>
  </div>
</div>

<div class="number-of-parking-spaces">
  <h2>The number of parking spaces</h2>
  <input type="text" />
</div>
