.zone {
  display: flex;
  flex-wrap: wrap;
  gap: 0.9em;
  width: 100%;
  margin-top: 1rem;

  &__button {
    background: #f1f2f3;
    border-radius: 0.7em;
    border: none;
    height: 2rem;
    text-transform: uppercase;
  }
}

.types-of-vehicles {
  margin-top: 1rem;

  &__mat-checkbox {
    display: flex;
    flex-direction: column;
  }
}

.type-of-parking {
  margin-top: 1rem;

  &__checkbox {
    display: flex;
    flex-direction: column;
  }
}
.number-of-parking-spaces {
  input {
    border-radius: 4px;
    width: 30%;
    height: 2.2rem;
  }
}
.select-date {
  input {
    border-radius: 4px;
    width: 90%;
    height: 2.2rem;
  }
}

.related-tags {
  margin-top: 1rem;
}
