<div>
  <mat-form-field appearance="outline">
    <input matInput [matDatepicker]="picker" placeholder="Select date..." />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>
<div>
  <h1>Related Tags 🏬</h1>
  <div class="zone">
    <button *ngFor="let zona of zone" mat-button class="zone__button">
      {{ "🚗" + zona }}
    </button>
  </div>
</div>

<div class="types-of-vehicles">
  <h2>Types of vehicles 🚙</h2>
  <div class="types-of-vehicles__mat-checkbox">
    <mat-checkbox color="primary">Truck</mat-checkbox>
    <mat-checkbox color="primary">Truck</mat-checkbox>
    <mat-checkbox color="primary">Agricultural Machinery</mat-checkbox>
    <mat-checkbox color="primary">Public Transport</mat-checkbox>
  </div>
</div>

<div class="type-of-parking">
  <h2>Type of parking 🪙</h2>
  <div class="type-of-parking__checkbox">
    <mat-checkbox color="primary">With payment</mat-checkbox>
    <mat-checkbox color="primary">Free</mat-checkbox>
  </div>
</div>

<div class="number-of-parking-spaces">
  <h2>The number of parking spaces</h2>
  <input type="text" />
</div>
