<app-nav-bar [showSearch]="true"></app-nav-bar>
<div class="table">
  <div class="table__div-table">
    <mat-card>
      <div class="active-tabs">
        <button mat-button class="active-tabs__export">Export as CSV</button>
      </div>
      <mat-divider></mat-divider>
      <div>
        <mat-tab-group #matTabGroup class="mat-tab-group">
          <mat-tab label="My Reservations">
            <table
              mat-table
              [dataSource]="dataSource"
              class="mat-elevation-z8"
              matSort
            >
              <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef>#</th>
                <td mat-cell *matCellDef="let element; let i = index">
                  {{ i + 1 }}
                </td>
              </ng-container>

              <ng-container matColumnDef="vehicleOwner">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Customer
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.vehicleOwner }}
                </td>
              </ng-container>

              <ng-container matColumnDef="providerParkingSpace">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Provider
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.providerParkingSpace }}
                </td>
              </ng-container>

              <ng-container matColumnDef="parkingSpaceName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Parking Lot
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.parkingSpaceName }}
                </td>
              </ng-container>

              <ng-container matColumnDef="parkingLotName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Parking Space
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.parkingLotName }}
                </td>
              </ng-container>

              <ng-container matColumnDef="vehicleRegisteredNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Vehicle's Number
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.vehicleRegisteredNumber }}
                </td>
              </ng-container>

              <ng-container matColumnDef="startTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Start Date
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.startTime | date }}
                </td>
              </ng-container>

              <ng-container matColumnDef="endTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  End Date
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.endTime | date }}
                </td>
              </ng-container>

              <ng-container matColumnDef="settings">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                  <mat-icon
                    svgIcon="delete-trash-red"
                    (click)="openDeleteConfirmDialog(element.reservationId)"
                  ></mat-icon>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <mat-divider></mat-divider>
            <mat-paginator
              [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 14]"
              aria-label="Select page"
            >
            </mat-paginator>
          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-card>
  </div>
</div>
