.parking-space-details {
  width: 100%;
  height: 100vh;

  &__close {
    display: flex;
    flex-direction: row;
    gap: 88%;
    padding: 0.5%;

    span {
      font-size: 140%;
    }
  }

  &__container {
    display: flex;
    height: 88.9%;
    gap: 2%;
    flex-direction: row;

    &__left {
      width: 65%;

      &__informations {
        height: 40vh;
        display: flex;
        gap: 1%;
        margin-left: 1%;

        &__parking-lot {
          width: 30%;
          height: 100%;
          display: flex;
          flex-direction: column;
          font-size: 120%;

          span {
            font-weight: 500;
            font-size: 130%;
            margin-bottom: 3%;
          }
          &__yes {
            color: green;
          }

          &__no {
            color: red;
          }
        }

        &__booking {
          margin-top: 0.5%;
          width: 32%;
          display: flex;
          flex-direction: column;
          padding: 1%;
          background-color: rgb(42, 0, 81);
          height: 95%;
          border-radius: 2%;
          color: white;
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 1.19);
        }
      }

      &__all-spots {
        background-color: #efefef;
        padding: 1%;
        height: 54%;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-left: 2%;

        &__cards {
          display: grid;
          grid-template-columns: repeat(6, 1fr);
          overflow: auto;
          gap: 5%;
          height: 87%;

          &__spot {
            display: flex;
            height: 18vh;
            width: 85%;
            border: 2px solid black;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            background: white;

            &__status {
              border: 2px solid black;
              width: 16%;
              height: 2.1vh;
              background-color: red;
              border-radius: 50%;
            }

            p {
              font-size: 6vh;
            }
          }
        }
      }
    }

    &__right {
      width: 70%;
      display: flex;
      flex-direction: row;

      img {
        width: 90%;
        border-radius: 1rem;
        height: 34vh;
      }

      &__description {
        width: 58%;
        height: 92%;
        border-radius: 0.5rem;
        font-size: 120%;
        border: none;

        textarea {
          height: 90%;
          width: 93%;
          border-radius: 1rem;
          margin-top: 2%;
        }

        span {
          font-size: 140%;
          font-weight: 500;
        }
      }
    }
  }
}
